/apps/GUIServerApplication/build/
/apps/GUIServerApplication/dist/
/apps/GUIServerApplication/nbproject/private/
/apps/Calculator/build/
/apps/Calculator/nbproject/private/
/apps/RMIClient/dist/
/apps/RMIServer/dist/
